127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
192.168.117.133	ceph01.ocp4.gbm.net	ceph01
192.168.117.134	ceph02.ocp4.gbm.net	ceph02
192.168.117.135	ceph03.ocp4.gbm.net	ceph03
